<!-- <mat-toolbar color="primary">WELCOME TO APARCA'M</mat-toolbar> -->
<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>APARCA'M</h1>
    <!--  <span>HOME</span> -->
    <span class="spacer"></span>
    <a mat-button (click)="goToAddUser()">Register</a>
    <a mat-button (click)="goToLogin()"> Login </a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="container">
  <div class="card">
    <mat-card>
      <mat-card-title><h1>LOG IN</h1></mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password">
            </mat-form-field>
          </p>
          <p>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
