<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1></h1>
    <!--  <span>HOME</span> -->
    <span class="spacer"></span>
    <a mat-button (click)="goToUserList()"> User List </a>
    <a mat-button (click)="goToAddParking()"> Create parking </a>
    <a mat-button (click)="goToParkingList()"> Parking List </a>
    <a mat-button (click)="goToAddReport()"> Report </a>
    <a mat-button (click)="goToReportList()"> Report List </a>
    <a mat-button (click)="goToLogOff()"> Log out </a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="container">
  <div class="card">
    <mat-card>
      <mat-card-title>
        <h1>All parkings</h1>
      </mat-card-title>
      <mat-card-content>
        <div class="parkings">
          <app-parking (cancelParking)="cancelOneParking($event)" [parking]="parking"
            *ngFor="let parking of parkings"></app-parking>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
